r2r[core,ingestion-bundle,hatchet]>=1.0.0
langchain>=0.0.200
fastapi
uvicorn[standard]
pandas
networkx
plotly
httpx[socks]

rich
python-dotenv
qdrant_client
langchain-qdrant
langchain
langchain-community
langchain-ollama
langgraph
langfuse

pandas
numpy
scipy
py-gnuplot
statsmodels
scikit-learn

supabase